body {
    font-family: Georgia, 'Times New Roman';
    margin: 50px;
    max-width: 90%;
    background-color: #a3ffd9;
}

section {
    background-color: #cbffe9;
    border-radius: 30px;
    position: relative;
    margin: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

.element {
    font-size: 21px;
    color: rgb(0, 0, 0);
    background-color: #b9b9b9;
    box-shadow: 0px 0px 10px #000000;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 25%;
    left: 40%;

    animation-duration: 4s;
    animation-name: spin;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}


@keyframes spin {
    0%{
        border-radius: 0%;
    }
    25%{
        scale: 2;
        transform: rotate(0);
        border-radius: 30%;
    }
    50%{
        scale: 2;
        transform: rotate(360deg);
        border-radius: 50%;
    }
    75%{
        scale: 2;
        transform: rotate(0);
        border-radius: 30%;
    }
    100%{
        border-radius: 0%;
    }
}

button {
    font-size: 21px;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #000000;
    text-shadow: 2px 2px 2px #000000;
    color: #ffffff;
    overflow: auto;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.2);
}

button:active {
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#start {
    background-color: #30ff30;
}

#stop {
    background-color: #ff3030;
}

#loading {
    background-color: #000000;
}

#loading .element2 {
    width: 50px;
    height: 50px;
    background-color: #00000000;
    border: solid 5px;
    border-color: aqua;
    box-shadow: 0px 0px 6px aqua;
    position: relative;
    left: 46%;
    animation: 2s loading ease-in-out infinite;
}

@keyframes loading{
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    66%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

#partical {
    background-color: #000000;
}

.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    font-weight: 650;
    margin-left: 30%;
}

.tagcloud--item:hover {
    color: #30ff30;
}

.content {
    color: #0000007e;
    text-shadow: 0px 0px 2px #00ff0d;
}

.calculator {
    background-color: #0d001f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#display {
    width: 94%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    background-color: #2b2b2b;
    border-radius: 5px;
    font-family: Calculator, sans-serif;
    color: #00ff0d;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.but {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    color: burlywood;
    box-shadow: 2px 2px 6px #00ff00;
    text-shadow: 2px 2px 1px #353535;
    background-color: #252525;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
    transform: scale(1.1);
}

button:active {
    background-color: #313131;
}

button:nth-child(19) {
    background-color: #001d00;
    color: white;
}